Squid Monitor/Squid Monitor/Service References/SquidManager/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/sqmgr_wcf_svc" />
  <xs:element name="GetNewDomains">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewDomainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/sqmgr_wcf_svc" minOccurs="0" name="GetNewDomainsResult" nillable="true" type="q1:DList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sectionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activeInactive" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewDomainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrustList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrustListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/sqmgr_wcf_svc" minOccurs="0" name="GetTrustListResult" nillable="true" type="q2:DList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlockList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/sqmgr_wcf_svc" minOccurs="0" name="GetBlockListResult" nillable="true" type="q3:DList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadLists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadListsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>