Squid Monitor/Squid Monitor/Service References/SquidManager/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SquidManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SquidManager" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISquidManager_GetNewDomains_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewDomains" />
  </wsdl:message>
  <wsdl:message name="ISquidManager_GetNewDomains_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewDomainsResponse" />
  </wsdl:message>
  <wsdl:message name="ISquidManager_AddNewDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewDomain" />
  </wsdl:message>
  <wsdl:message name="ISquidManager_AddNewDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewDomainResponse" />
  </wsdl:message>
  <wsdl:message name="ISquidManager_GetTrustList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrustList" />
  </wsdl:message>
  <wsdl:message name="ISquidManager_GetTrustList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrustListResponse" />
  </wsdl:message>
  <wsdl:message name="ISquidManager_GetBlockList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlockList" />
  </wsdl:message>
  <wsdl:message name="ISquidManager_GetBlockList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlockListResponse" />
  </wsdl:message>
  <wsdl:message name="ISquidManager_ReloadLists_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadLists" />
  </wsdl:message>
  <wsdl:message name="ISquidManager_ReloadLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadListsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISquidManager">
    <wsdl:operation name="GetNewDomains">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquidManager/GetNewDomains" message="tns:ISquidManager_GetNewDomains_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquidManager/GetNewDomainsResponse" message="tns:ISquidManager_GetNewDomains_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewDomain">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquidManager/AddNewDomain" message="tns:ISquidManager_AddNewDomain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquidManager/AddNewDomainResponse" message="tns:ISquidManager_AddNewDomain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrustList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquidManager/GetTrustList" message="tns:ISquidManager_GetTrustList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquidManager/GetTrustListResponse" message="tns:ISquidManager_GetTrustList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlockList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquidManager/GetBlockList" message="tns:ISquidManager_GetBlockList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquidManager/GetBlockListResponse" message="tns:ISquidManager_GetBlockList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadLists">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquidManager/ReloadLists" message="tns:ISquidManager_ReloadLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquidManager/ReloadListsResponse" message="tns:ISquidManager_ReloadLists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHTTP" type="tns:ISquidManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewDomains">
      <soap:operation soapAction="http://tempuri.org/ISquidManager/GetNewDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewDomain">
      <soap:operation soapAction="http://tempuri.org/ISquidManager/AddNewDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrustList">
      <soap:operation soapAction="http://tempuri.org/ISquidManager/GetTrustList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlockList">
      <soap:operation soapAction="http://tempuri.org/ISquidManager/GetBlockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadLists">
      <soap:operation soapAction="http://tempuri.org/ISquidManager/ReloadLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SquidManager">
    <wsdl:port name="BasicHTTP" binding="tns:BasicHTTP">
      <soap:address location="http://127.0.0.1:5656/squid_manager" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>